/**********************************************************
//////////////////    about page    ////////////////////////
**********************************************************/

.pt-200 {
    padding-top: 200px;
}
.container {
    padding-left: 250px;
    position: relative;
    @include respond-to($screen1600) {
        padding-left: 110px;
    }
    @include respond-to($screen1440) {
        padding-left: 110px;
    }
    @include respond-to($screen767) {
        padding-left: 15px;
    }
    .secleft-line {
        left: 170px;
        top: 80px;
        @include respond-to($screen1600) {
            left: 30px;
        }
        @include respond-to($screen1199) {
            left: 50px;
            top: 70px;
        }
        @include respond-to($screen1024) {
            top: 60px;
            font-size: 16px;
        }
    }
    .sec-title {
        margin-bottom: 50px;
        @include respond-to($screen1199) {
            line-height: 1;
            margin-bottom: 30px;
            margin-top: 20px;
        }
    }
}
.about {
    position: relative;
    padding-top: 200px;
    background-color: $bgcolor3;
    color: $color2;
    padding-bottom: 0;
    @include respond-to($screen991) {
        padding-top: 150px;
    }
    @include respond-to($screen767) {
        padding-top: 100px;
    }
    .about-inner {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        align-items: center;
        .ai-img-cover {
            margin-left: auto !important;
            margin-right: inherit !important;
            @include respond-to($screen767) {
                margin-left: 10px !important;
            }
            &.rgt {
                margin-right: auto !important;
                margin-left: inherit !important;
                @include respond-to($screen991) {
                    margin-right: 10px !important;
                }
                @include respond-to($screen600) {
                    margin: auto !important;
                    margin-bottom: -40px !important;
                }
                &:before {
                    right: -15px;
                    left: 30%;
                    @include respond-to($screen991) {
                        right: -10px;
                    }
                }
            }
        }
        .ai-text {
            font-size: 22px;
            @include respond-to($screen1440) {
                font-size: 20px;
            }
            @include respond-to($screen991) {
                font-size: 16px;
            }
            @include respond-to($screen767) {
                line-height: 1.3;
                font-size: 14px;
            }
            opacity: 0.6;
        }
        .ai-left {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 30px;
            @include respond-to($screen991) {
                padding: 30px 15px;
            }
            @include respond-to($screen600) {
                flex: 0 0 70%;
                max-width: 70%;
                margin: 0 auto
            }
        }
        .ai-right {
            @extend .ai-left;
            @include respond-to($screen600) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .theme-btn2 {
                &::after,
                &::before {
                    background-color: $bgcolor3;
                }
            }
            &.ai-sec {
                @include respond-to($screen600) {
                    order: 2;
                }
            }
            .ai-img-cover {
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: -15px;
                    right: -15px;
                    left: 30%;
                    bottom: -15px;
                    background-color: #ec6737;
                    @include respond-to($screen991) {
                        top: -10px;
                        right: -10px !important;
                        bottom: -10px;
                    }
                }
                .theme-img {
                    padding-top: 100%;
                    img {
                        object-fit: contain;
                        filter: brightness(1.6);
                    }
                }
            }
        }
        .ai-img-cover {
            position: relative;
            max-width: 500px;
            margin: auto;
            @include respond-to($screen600) {
                margin: auto !important;
                margin-bottom: -40px !important;
            }
            &:before {
                content: "";
                position: absolute;
                top: -15px;
                left: -15px;
                right: 30%;
                bottom: -15px;
                background-color: #ec6737;
                @include respond-to($screen991) {
                    left: -10px;
                    top: -10px;
                    bottom: -10px;
                }
            }
            .theme-img {
                padding-top: 100%;
                img {
                    object-fit: contain;
                    filter: brightness(1.6);
                }
            }
        }
    }
}

.work {
    background-color: $bgcolor3;
    color: $color2;
    .wl-title{
        @include respond-to($screen1600){
            font-size: 19px;
        } 
        @include respond-to($screen1199){
            letter-spacing: -.7px;
            margin: 5px 0;
        }
        @include respond-to($screen991){
            line-height: 1;
        }
        @include respond-to($screen767){
            font-size: 17px;
        }
    }
    .work-list {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
            background-color: $bordercolor6;
            left: 50%;
            @include respond-to($screen600) {
                left: 0;
            }
        }
        .wl-item {
            flex: 0 0 100%;
            max-width: 100%;
            @include respond-to($screen1199){
                margin-bottom: -50px;
            }
            @include respond-to($screen600) {
                margin-bottom: 0;
            }
            &.odd {
                .wl-content {
                    margin-right: auto;
                    display: flex;
                    .wl-icon {
                        margin-right: 15px;
                        width: 100%;
                        height: 150px;
                        min-width: 150px;
                        max-width: 150px;
                        border-right: 2px solid $bordercolor6;
                        margin-top: 40px;
                        padding-right: 20px;
                        @include respond-to($screen1440){
                            height: 100px;
                            min-width: 100px;
                            max-width: 100px;
                        }
                        @include respond-to($screen1199){
                            height: 70px;
                            min-width: 70px;
                            max-width: 70px;
                            margin-right: 15px;
                            padding-right: 10px;
                            margin-top: 34px;
                        }
                        @include respond-to($screen991){
                            height: 60px;
                            max-width: 60px;
                            min-width: 60px;
                            border-width: 1px;
                            margin-top: 25px;
                        }
                        @include respond-to($screen767){
                          margin-right: 10px;
                        }
                        svg {
                            height: 100%;
                        }
                    }
                    &:after {
                        right: -10.5px;
                        @include respond-to($screen1199){
                            right: -8px;
                        }
                        @include respond-to($screen600) {
                            left: -7px;
                        }
                    }
                }
            }
            &.even {
                .wl-content {
                    margin-left: auto;
                    display: flex;
                    .wl-icon {
                        margin-right: 15px;
                        width: 100%;
                        height: 150px;
                        min-width: 150px;
                        max-width: 150px;
                        border-right: 2px solid $bordercolor6;
                        margin-top: 40px;
                        padding-right: 20px;
                        @include respond-to($screen1440){
                            height: 100px;
                            min-width: 100px;
                            max-width: 100px;
                        }
                        @include respond-to($screen1199){
                            height: 70px;
                            min-width: 70px;
                            max-width: 70px;
                            margin-right: 15px;
                            padding-right: 10px;
                            margin-top: 34px;
                        }
                        @include respond-to($screen991){
                            height: 60px;
                            max-width: 60px;
                            min-width: 60px;
                            border-width: 1px;
                            margin-top: 25px;
                        }
                        svg {
                            height: 100%;
                        }
                    }
                    &:after {
                        left: -10.5px;
                        @include respond-to($screen1199){
                            left: -7px;
                        }
                    }
                }
            }
            .wl-content {
                flex: 0 0 50%;
                max-width: 50%;
                padding: 30px 50px;
                position: relative;
                @include respond-to($screen1440){
                    padding: 30px 40px;
                }
                @include respond-to($screen991){
                    padding: 30px;
                }
                @include respond-to($screen767){
                    padding: 20px;
                }
                @include respond-to($screen600) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                &:before {
                    content: "";
                    position: absolute;
                    top: 10px;
                    left: 20px;
                    right: 20px;
                    bottom: 10px;
                    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
                    @include respond-to($screen767){
                        left: 10px;
                        right: 10px;
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    height: 20px;
                    width: 20px;
                    background-image: linear-gradient(to right bottom, #e35623, #ea6c1b, #ee8111, #f19608, #f2ab07);
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                    @include respond-to($screen1199){
                        height: 15px;
                        width: 15px;
                    }
                }
                .wl-no {
                    color: $color6;
                    @include respond-to($screen1199){
                        font-size: 14px;
                    }
                }
                .wl-text {
                    font-size: 20px;
                    opacity: 0.6;
                    @include respond-to($screen1600){
                        font-size: 18px;
                        line-height: 1.4;
                    }
                    @include respond-to($screen1440){
                        font-size: 17px;
                    }
                    @include respond-to($screen1199){
                        font-size: 15px;
                        line-height: 1.2;
                    }
                    @include respond-to($screen991){
                        font-size: 14px;

                    }
                }
            }
        }
    }
}

.blog {
    background-color: $bgcolor3;
    color: $color2;
    .container {
        .blog-subtitle {
            font-size: 22px;
            max-width: 80%;
            margin-top: -30px;
            margin-bottom: 50px;
            @include respond-to($screen1199) {
                font-size: 20px;
                max-width: 100%;
                margin-top: 0px;
                margin-bottom: 30px;
                line-height: 1.3;
            }
            @include respond-to($screen991) {
                font-size: 16px;
                margin-top: 12px;
            }
        }
        .blog-inner {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .blog-post-cover {
                flex: 0 0 25%;
                max-width: 25%;
                padding: 15px;
                @include respond-to($screen1440) {
                    flex: 0 0 33.33%;
                    max-width: 33%;
                }
                @include respond-to($screen600) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @include respond-to($screen500) {
                    flex: 0 0 90%;
                    max-width: 90%;
                    margin-bottom: 15px;
                }
                @include respond-to($screen991) {
                    padding: 5px;
                }

                &:hover {
                    .blogimg-overlay {
                        transform: scale(1.1);
                    }
                    img {
                        transform: scale(1) !important;
                    }
                }
                .blog-post {
                    @include respond-to($screen1440) {
                        box-shadow: 0 0 20px #00000021;
                        overflow: hidden;
                        padding-bottom: 10px;
                    }
                    .blog-img {
                        position: relative;
                        .theme-img {
                            padding-top: 150%;
                            img {
                                transform: scale(1);
                                transition: 0.5s;
                            }
                        }
                        .blogimg-overlay {
                            transition: 0.5s;
                            position: absolute;
                            padding: 15px;
                            top: 20%;
                            left: 15%;
                            right: 15%;
                            bottom: 20%;
                            background-color: rgba($bordercolor5, 0.7);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            flex-direction: column;
                            @include respond-to($screen1440) {
                                left: 10%;
                                right: 10%;
                            }
                            &:before {
                                content: "";
                                position: absolute;
                                display: block;
                                z-index: 99;
                                -moz-background-size: contain;
                                background-size: contain;
                                height: 39px;
                                width: 40px;
                                background-image: url(../images/favicon.png);
                                top: -19px;
                                left: 50%;
                                background-repeat: no-repeat;
                                filter: invert(1) opacity(0.8);
                                transform: translateX(-50%) scale(1.5);
                            }
                            h4 {
                                text-transform: uppercase;
                                letter-spacing: 3px;
                            }
                            span {
                                color: dimgray;
                            }
                        }
                    }
                    .blog-dtl {
                        text-align: center;
                        padding: 0 10px;
                        h3 {
                            @include respond-to($screen1199) {
                                font-size: 20px;
                                margin-bottom: 5px;
                                line-height: 1.2;
                            }
                        }
                        .theme-btn2 {
                            @include respond-to($screen1600) {
                                margin-top: 0;
                            }
                            @include respond-to($screen1199) {
                                font-size: 16px;
                                line-height: 1.7;
                            }
                        }
                        .theme-btn2 {
                            &:before,
                            &:after {
                                background-color: $bgcolor3;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ai-exp {
    position: relative;
    .ai-expbg-cover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .theme-img {
            height: 100%;
        }
    }
    .ai-exp-content {
        .ai-exp-text {
            font-size: 24px;
            @include respond-to($screen1440) {
                font-size: 20px;
            }
            @include respond-to($screen991) {
                font-size: 17px;
            }
            @include respond-to($screen660) {
                font-size: 14px;
            }
            opacity: 0.6;
            max-width: 1250px;
        }
    }
}

.ap-exp2 {
    background-color: $bgcolor3;
    color: $color2;
    .ap-exp2-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0 -15px;
        .apexp2-left-cover {
            flex: 0 0 50%;
            max-width: 50%;
            padding: 15px;
            @include respond-to($screen600) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .exp2-text {
                font-size: 24px;
                opacity: 0.6;
                @include respond-to($screen1440) {
                    font-size: 20px;
                }
                @include respond-to($screen991) {
                    font-size: 16px;
                }
                @include respond-to($screen767) {
                    line-height: 1.3;
                    font-size: 14px;
                }
            }
            .exp2-list {
                margin: 30px 0;
                .exp2-list-item {
                    position: relative;
                    font-size: 22px;
                    @include respond-to($screen1440) {
                        font-size: 20px;
                    }
                    @include respond-to($screen991) {
                        font-size: 16px;
                    }
                    color: $color4;
                    display: flex;
                    align-items: center;

                    &:before {
                        content: "";
                        height: 12px;
                        width: 19px;
                        display: block;
                        border: 3px solid $color7;
                        border-width: 0 0 3px 3px;
                        margin-right: 20px;
                        transform: rotate(-45deg) translateY(-3px);
                        @include respond-to($screen991) {
                            height: 7px;
                            width: 12px;
                            border-width: 0 0 2px 2px;
                            margin-right: 12px;
                        }
                    }
                }
            }
            .theme-btn2 {
                margin: auto;
                &:before,
                &:after {
                    background-color: $bgcolor3 !important;
                }
            }
        }
        .exp2-right-cover {
            @extend .apexp2-left-cover;
            .exp2-right {
                display: flex;
                .col-left {
                    flex: 0 0 50%;
                    max-width: 50%;
                    transform: translateY(-50px);
                    @include respond-to($screen991) {
                        transform: translateY(-30px);
                    }
                }
                .exp2-box {
                    box-shadow: 0 0 40px rgba(31, 45, 61, 0.13);
                    margin: 40px 20px;
                    text-align: center;
                    padding: 50px 10px;
                    @include respond-to($screen1440){
                        margin: 20px 10px;
                    }
                    @include respond-to($screen991) {
                        margin: 20px 10px;
                        padding: 35px 10px;
                    }
                    .counter-value {
                        @extend %font60;
                        display: block;
                        @include respond-to($screen991) {
                            margin-top: 0;
                        }
                        &:after {
                            content: "+";
                        }
                    }
                    span {
                        color: $color2;
                        font-size: 18px;
                        text-transform: uppercase;
                        @include respond-to($screen1024) {
                            font-size: 14px;
                        }
                        @include respond-to($screen991){
                            letter-spacing: -.3px;
                            font-size: 13px;
                        }
                        @include respond-to($screen660) {
                            font-size: 12px;
                        }
                    }
                    &.exp2-bx1 {
                        background-image: linear-gradient(to right bottom, #e35623, #ea6c1b, #ee8111, #f19608, #f2ab07);
                        color: $color3;
                        span {
                            color: $color3;
                        }
                    }
                    &.exp2-bx2 {
                        color: $color7;
                    }
                    &.exp2-bx3 {
                        color: blue;
                    }
                    &.exp2-bx4 {
                        color: $color3;
                        background-image: linear-gradient(to right bottom, #1f07c0, #1936d2, #2054e1, #346fee, #4d89f8);
                        span {
                            color: $color3;
                        }
                    }
                }
                .col-right {
                    flex: 0 0 50%;
                    max-width: 50%;
                    transform: translateY(50px);
                    @include respond-to($screen991) {
                        transform: translateY(30px);
                    }
                }
            }
        }
    }
}

.services {
    .ser-title-cover {
        .ser-title {
            font-size: 60px;
            text-align: center;
            font-weight: $font-semiregular;
            margin-bottom: 60px;
            span {
                font-weight: $font-semibold;
                border-bottom: 3px solid #ec6737;
            }
        }
    }
}

.qualit {
    .container {
        padding-left: 15px;
    }
    .qua-inner {
        display: flex;
        flex-wrap: wrap;
        .qua-box {
            flex: 0 0 50%;
            max-width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $bordercolor3;
            min-height: 130px;
            max-height: 130px;

            &.b-lb {
                border-width: 0 0 1px 1px;
                padding-left: 15px;
            }
            &.b-rb {
                border-width: 0 1px 1px 0;
                padding-right: 15px;
            }
            &.b-lt {
                padding-left: 15px;
                border-width: 1px 0 0 1px;
            }
            &.b-rt {
                padding-right: 15px;
                border-width: 1px 1px 0 0;
            }
        }
    }
}
