/**********************************************************
//////////////////    Android page    ////////////////////
**********************************************************/

.crr-banner {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .crrbnr-titlecover {
        text-align: center;
        .crrbnr-title {
            font-size: 60px;
            font-weight: $font-light;
            line-height: 1;
            margin-bottom: 15px;
            @include respond-to($screen1199) {
                font-size: 50px;
            }
            @include respond-to($screen991) {
                font-size: 40px;
            }
            @include respond-to($screen767) {
                font-size: 30px;
            }
            @include respond-to($screen600) {
                font-size: 24px;
            }
        }
        .crrbnr-subtitle {
            font-size: 24px;
            opacity: 0.6;
            padding: 0 30px;
            @include respond-to($screen991) {
                font-size: 20px;
            }
            @include respond-to($screen767) {
                font-size: 18px;
            }
            @include respond-to($screen600) {
                font-size: 14px;
            }
        }
    }
}
.crr-positions {
    position: relative;
    background-color: $bgcolor3;
    color: $color2;
    .sec-inner {
        justify-content: center;
        .pos-bxcover {
            flex: 0 0 33.33%;
            max-width: 33.33%;
            padding: 15px;
            display: flex;
            @include respond-to($screen1199){
                padding: 10px;
            }
            @include respond-to($screen991) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @include respond-to($screen600) {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .pos-bx {
                border: 1px solid $bordercolor2;
                display: flex;
                flex-direction: column;
                flex: 1;
                padding: 20px 10px;
                .pos-no {
                    opacity: 0.6;
                    display: none;
                }
                .pos-iconcover {
                    height: 100px;
                    width: 100px;
                    min-width: 100px;
                    margin: 0 auto 10px;
                    padding: 20px;
                    border: 3px solid $bordercolor5;
                    border-radius: 50%;

                    @include respond-to($screen991) {
                        height: 85px;
                        width: 85px;
                        max-width: 85px;
                        min-width: 85px;
                        padding: 15px;
                    }
                    .h100p {
                        height: 100%;
                    }
                }
                .pos-title {
                    text-align: center;
                    margin-bottom: 0;
                    flex: 1;
                    letter-spacing: -0.6px;
                    @include respond-to($screen1199) {
                        font-size: 22px;
                    }
                }
                .pos-text {
                    opacity: 0.6;
                    text-align: center;
                    @extend %font20;
                    @include respond-to($screen600){
                        font-size: 16px;
                    }
                }
                .theme-btn3 {
                    display: block;
                    margin: 20px auto 0;
                    max-width: max-content;
                }
            }
        }
    }
}

.crr-popup {
    &.popup-active{
        .crr-popupinner{
            top: 50%;
            bottom: inherit;
        }    
    }
    .crr-popupinner {
        z-index: 999999;
        position: fixed;
        color: $color2;
        background: $bgcolor3;
        height: 90%;
        width: 50%;
        left: 50%;
        bottom: 100%;
        top: inherit;
        border: 1px solid rgba($bordercolor2, 0.2);
        transform: translate(-50%, -50%);
        padding: 30px;
        overflow: auto;
        transition: .5s;
        @include respond-to($screen1199) {
            width: 60%;
            padding: 30px 15px;
        }
        @include respond-to($screen991){
            width: 75%;
        } 
        @include respond-to($screen767){
            width: 80%;
        } 
        @include respond-to($screen600){
          width: 95%;
          padding: 30px 10px;
        } 
        .crr-close-btn {
            position: absolute;
            top: 12px;
            right: 12px;
            height: 12px;
            width: 12px;
            cursor: pointer;
        }

        .crr-form {
            background-color: $bgcolor5;
            padding: 30px 15px;
            margin-top: 15px;
            @include respond-to($screen1199) {
                padding: 30px 5px;
            }
        }
        .form-inner {
            display: flex;
            flex-wrap: wrap;
            .select-cover {
                position: relative;
                &:after {
                    content: "";
                    height: 12px;
                    width: 12px;
                    border: 1px solid $color2;
                    display: block;
                    position: absolute;
                    right: 8px;
                    bottom: 35px;
                    border-width: 0 0 1px 1px;
                    transform: rotate(-45deg);
                }
            }
            .form-bx {
                flex: 0 0 50%;
                max-width: 50%;
                padding: 0 10px;
                @include respond-to($screen767){
                   flex: 0 0 100%;
                   max-width: 100%;
                } 
                &.w-100 {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .type-file {
                    border-bottom: 1px solid $bordercolor6;
                    margin-bottom: 20px;
                    position: relative;
                    z-index: 1;
                    &:after {
                        content: "Upload Your Resume";
                        font-size: 14px;
                        cursor: pointer;
                        display: block;
                        position: absolute;
                        bottom: 15px;
                        left: 32px;
                        line-height: 1;
                        z-index: -1;
                        @include respond-to($screen767){
                           left: 25px;
                        } 
                    }
                    .upload-icon {
                        position: absolute;
                        left: 0;
                        bottom: 15px;
                        height: 20px;
                        width: 20px;
                        z-index: -1;
                        @include respond-to($screen767){
                           height: 15px;
                           width: 15px;
                        } 
                    }
                    input {
                        padding: 15px;
                        opacity: 0;
                        height: 100%;
                        width: 100%;
                        cursor: pointer;
                    }
                }
            }
            .submit-btn {
                font-size: 18px;
                border: 1px solid $bordercolor2;
                text-transform: uppercase;
                color: $color2;
                padding: 8px 25px;
                position: relative;
                z-index: 1;
                margin: 0 auto;
                @include respond-to($screen1199) {
                    font-size: 15px;
                }
                &:before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    transition: 0.5s;
                    width: 0;
                    background-color: #000;
                    top: 0;
                    left: 0;
                    z-index: -1;
                }
                &:hover {
                    color: $color5;
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
        input,
        select,
        textarea {
            background-color: transparent !important;
            border: none;
            padding-left: 0 !important;
            border-bottom: 1px solid #a3a3a3;
            resize: none;
            color: $color2;
            &::placeholder {
                color: $color2 !important;
                opacity: 0.6;
            }
        }
        .crr-title {
            font-size: 24px;
            text-align: center;
            font-weight: $font-regular;
        }
    }
    .crr-header {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        @include respond-to($screen600){
            display: none;
        } 
        .crrh-bx {
            flex: 0 0 50%;
            max-width: 50%;
            &.bdr-rgt {
                border-right: 2px solid $bordercolor2;
            }
            .crrh-text {
                text-align: center;
                opacity: 0.6;
            }
            .crrh-titlecover {
                margin: 0 auto;
                max-width: max-content;
                display: flex;
                svg {
                    margin-right: 10px;
                }
                .crrh-bold {
                    color: $color2;
                    font-weight: $font-semibold;
                }
            }
        }
    }
}
