/**********************************************************
//////////////////    footer    ///////////////////////////
**********************************************************/

.footer {
    padding: 100px 0 50px;
    @include respond-to($screen767) {
      padding: 50px 0 30px;
     }
     @include respond-to($screen1199){
         padding-top: 130px !important;
     }
     @include respond-to($screen767){
        padding-top: 100px !important;
     }
    .footer-inner {
        width: 100%;
        max-width: 1350px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        @include respond-to($screen1440) {
            max-width: 1200px;
        }
        @include respond-to($screen1280) {
            max-width: 1020px;
        }
        @include respond-to($screen1199) {
            max-width: 860px;
        }
        @include respond-to($screen991) {
            max-width: 660px;
        }
        @include respond-to($screen767) {
            max-width: 100%;
            padding: 30px;
        }
        @include respond-to($screen600){
            padding: 30px 15px;
        }
        a.ftr-link:hover {
            filter: drop-shadow(0px 0px 6px #fff);
        }
        .ftr-block1 {
            flex: 0 0 20%;
            max-width: 20%;
            @include respond-to($screen767) {
               flex: 0 0 45%;
               max-width: 45%;
            }
            .ftr-title {
                font-size: $font13;
                color: $color6;
               
            }
            .ftr-menu-item {
                margin: 50px 0;
                line-height: 1;
                @include respond-to($screen767) {
                  margin: 30px 0;
                 }
            }
        }
        .ftr-block2 {
            @extend.ftr-block1;
        }
        .ftr-block3 {
            flex: 0 0 50%;
            max-width: 50%;
            @include respond-to($screen767) {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 30px;
                order: 4;
             }
            .ftr-title {
                font-size: $font13;
                color: $color6;
                text-transform: uppercase;
                margin-bottom: 50px !important;
                display: block;
                @include respond-to($screen767) {
                    margin: 15px 0 20px !important;
                   }
            }
            .ftrform-inner {
                display: flex;
                label {
                    white-space: nowrap;
                    border-bottom: 2px solid gray;
                    margin: 0;
                    padding: 0 50px 20px 0;
                    letter-spacing: 1px;
                    @include respond-to($screen1199) {
                        padding-right: 30px;
                        letter-spacing: 0.5px;
                        font-size: 14px;
                    }
                    @include respond-to($screen991) {
                        font-size: 12px;
                        letter-spacing: -0.5px;
                    }
                    @include respond-to($screen767) {
                      font-size: 14px;
                      letter-spacing: 0;
                     }
                }

                @include placeholder {
                    opacity: 0.5;
                    letter-spacing: 3px;
                }

                input {
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid #fff;
                    margin: 0;
                    padding: 0 0 20px 0;
                }
            }
        }
        .ftr-block4 {
            flex: 0 0 10%;
            max-width: 10%;
            @include respond-to($screen767) {
                order: 3;
             }
        }
        .ftr-btmline {
            @include respond-to($screen767) {
              order: 5;
             }

            .ftr-btnline-text {
                font-size: 13px;
                color: $color6;
                @include respond-to($screen600){
                    font-size: 11px;
                }
                a {
                    text-decoration: underline;
                    opacity: 0.6;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    marquee {
        font-size: $font20;
        color: $color6;
        margin-top: 100px;
        @include respond-to($screen1280) {
            margin-top: 60px;
        }
        @include respond-to($screen1199) {
            font-size: 14px;
        }
        @include respond-to($screen767) {
          margin-top: 0;
         }
    }
}
.ftricon-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .ftricon-item {
        margin-bottom: 25px;
        @include respond-to($screen767) {
          margin-bottom: 10px;
         }
        &:nth-child(2) {
            .ftricon-link {
                &:after {
                    border-color: #4267b2;
                }
                &:before {
                    border-color: #4267b2;
                }
                &:hover {
                    filter: drop-shadow(0 0 3px #538af8);
                }
            }
        }
        &:nth-child(3) {
            .ftricon-link {
                &:after {
                    border-color: #1da1f2;
                }
                &:before {
                    border-color: #1da1f2;
                }
                &:hover {
                    filter: drop-shadow(0 0 3px #60c1fd);
                }
            }
        }
        &:nth-child(4) {
            .ftricon-link {
                &:after {
                    border-color: #2867b2;
                }
                &:before {
                    border-color: #2867b2;
                }
                &:hover {
                    filter: drop-shadow(0 0 3px #4596fa);
                }
            }
        }
        .ftricon-link {
            height: 47px;
            width: 47px;
            position: relative;
            display: block;
            text-align: center;
            line-height: 47px;
            @include respond-to($screen767) {
              height: 36px;
              width: 36px;
              line-height: 36px;
              font-size: 12px;
             }
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 5px;
                right: 5px;
                bottom: 0;
                border: 3px solid #e1306c;
                border-width: 3px 0;
            }
            &:before {
                content: "";
                position: absolute;
                top: 5px;
                left: 0;
                right: 0;
                bottom: 5px;
                border: 3px solid #e1306c;
                border-width: 0 3px;
            }
            &:hover {
                filter: drop-shadow(0 0 3px #f86495);
            }
        }
    }
}
