/**********************************************************
////////////////    unit-converter page    ////////////////
**********************************************************/

.appdtl-bnr{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background: linear-gradient(135deg, #283757 0%,#2e4987 70%,#494d8c 100%);
    &.wc-banner{
        background-image: linear-gradient(135deg, #1bd8c8 0%,#20a1e9 70%,#1bd8c8 100%);
        .theme-btn{
            &:hover{
                span{
                    color: #20a1e9 ;
                }
            }
        }
    }
    &.ds-banner{
        background-image: linear-gradient(135deg, #1c1c25 0%,#4d648d 70%,#4d648d 100%);
    }
    .appdtl-bnrbg-cover{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        .theme-img{
            height: 100%;
            width: 100%;
        }
    }
    .appdtl-titlecover{
        .app-logo{
            max-width: 100px;
            margin: 0 auto;
            @include respond-to($screen991){
                max-width: 80px;
            }
        }
        .app-name{
            font-size: 50px;
            font-weight: $font-light;
            text-align: center;
            @include respond-to($screen991){
                font-size: 40px;
            }
            @include respond-to($screen767){
                font-size: 32px;
            }
        }
        .app-des{
            font-size: 24px;
            opacity: .6;
            text-align: center;
            @include respond-to($screen991){
                font-size: 20px;
            }
            @include respond-to($screen767){
                font-size:17px;
                padding: 0 30px;
            }
        }
    }
    .bnr-btns {
        margin: 0 auto;
        width: max-content;
        .theme-btn {
            border: 2px solid $bordercolor3;
            padding: 10px 23px;
            margin: 10px 5px 0;
            @include respond-to($screen1199){
                font-size: 13px;
            }
            @include respond-to($screen991){
                padding: 7px 23px;
            }
            @include respond-to($screen767) {
                padding: 4px 14px;
            }
            @include respond-to($screen600) {
                font-size: 10px;
            }
            &:after,
            svg {
                display: none;
            }
            &:before {
                content: "";
                position: absolute;
                height: 100%;
                -webkit-transition: 0.5s;
                -o-transition: 0.5s;
                -moz-transition: 0.5s;
                transition: 0.5s;
                width: 0;
                background-color: $bgcolor3;
                top: 0;
                left: 0;
                z-index: -1;
            }
            &:hover {
                color: #192745;
                &:before {
                    width: 100%;
                }
            }
        }
    }
}


.app-description{
    .appdes-text{
        @extend %font24;
        opacity: .6 ;
    }
    .appdes-title{
        @extend %font60;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 30px;
        letter-spacing: 3px;
        @include respond-to($screen1199){
            margin-bottom: 20px;
        }
        @include respond-to($screen991){
            margin-bottom: 10px;
        }
    }
}
.wallart-main{
    .app-features{
        .appf-bxcover{
            .appf-bx{
                padding: 30px !important;
                @include respond-to($screen767){
                    padding: 20px !important;
                }
            }
            &.phone-bx{
                margin: 10px auto;
            }
            &.wallartf{
                flex: 0 0 66.66%;
                max-width: 66.66%;
                @include respond-to($screen991) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .wa-list-item {
                    color: $color4;
                    font-size: 20px;
                    line-height: 1.4;
                    margin-bottom: 15px;
                    display: flex;
                    align-items: flex-start;
                    @include respond-to($screen1440) {
                        font-size: 18px;
                    }
                    @include respond-to($screen991) {
                        font-size: 16px;
                    }
                    @include respond-to($screen767){
                        font-size: 14px;
                        line-height: 1.3;
                    }
                    &:before{
                        content: "";
                        content: "";
                        height: 12px;
                        width: 19px;
                        min-width: 19px;
                        display: block;
                        border: 3px solid $bordercolor7;
                        border-width: 0 0 3px 3px;
                        margin-right: 20px;
                        margin-top: 8px;
                        transform: rotate(-45deg) translateY(-3px); 
                        @include respond-to($screen991) {
                            height: 7px;
                            width: 12px;
                            min-width: 12px;
                            border-width: 0 0 2px 2px;
                            margin-right: 12px;
                        }  
                    }
                }
            }
        }
        .appf-bx{
            align-items: flex-start !important;
            text-align: left !important;
            padding: 10px 20px !important;

        }
    }    
}
.app-features{
    .sec-inner{
        max-width: 1230px;
        margin: 0 auto;
    }
    .appf-bxcover{
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        @include respond-to($screen600){
            flex: 0 0 100%;
            max-width: 100%;
        }
        &.feature-bx{
            @include respond-to($screen600){
                order: 2;
            }
        }
        &.appf-bxcover.phone-bx:before {
            content: "+4400";
            font-size: 150px;
            position: absolute;
            color: gray;
            font-weight: 600;
            left: 43%;
            transform: translateX(-50%);
            z-index: -1;
            @include respond-to($screen991){
                font-size: 100px;
            }
        }
        h3{
            margin: 0;
        }
        .appf-text{
            line-height: 1.2;
        }
        .appf-imgcover{
            max-width: 250px;
            width: 100%;
            margin: 0 auto;
            .theme-img{
                padding-top: 204%;
            }
        }
        svg{
            height: 100%;
          }
        .appf-bx{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin: 30px 0;
            padding: 15px 10px;
            background-color: $bgcolor3;
            color: $color2;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: -10px;
                right: 10px;
                bottom: 10px;
                left: -10px;
                border: 1px solid $bordercolor3;
            }
            &:after {
                content: "";
                position: absolute;
                top: 10px;
                right: -10px;
                bottom: -10px;
                left: 10px;
                border: 1px solid $bordercolor3;
                z-index: -1;
            }
            .appf-icon{
                width: 100%;
                max-width: 70px;
                @include respond-to($screen1199){
                    max-width: 45px;
                }
            }
            
            .appf-text{
                font-size: 20px;
                opacity: .6;
                @include respond-to($screen1199){
                    font-size: 18px;
                    line-height: 1;
                    margin-top: 10px;
                }
                @include respond-to($screen991){
                    font-size: 17px;
                    letter-spacing: -1px;
                }
                @include respond-to($screen767){
                    font-size: 15px;
                }
            }
        }
    }
}

.app-ss{
    background-color: $bgcolor3;
    color: $color2;
    .sec-inner{
        align-items: center;
    }
  .appss-lft{
      flex: 0 0 50%;
      max-width: 50%;
      padding: 15px;
      .appss-title{
          font-size: 40px;
      }
      .appss-text{
          font-size: 20px;
          opacity: .6;
      }
  }
  .appss-rgt{
      flex: 0 0 100%;
      max-width: 100%;
      .appss-img{
          .theme-img{
              padding-top: 54%;
              &.wallart-bnr-p{
                padding-top: 49%;
            }
        }
      }
  }
}

.bird-main{
    .appdtl-bnrbg-cover{
        img{
            filter: brightness(.7);
        }
    }
}