

// color variables ***************************************************

$themecolor1:#f7f5f4;
$themecolor2:#000000;
$themecolor3:#ffffff;
$themecolor4: #5f5f5f;
$themecolor5: #f7f5f4;
$themecolor6: #a3a3a3;
$themecolor7: #ec6737;

$bordercolor1:$themecolor1;
$bordercolor2:$themecolor2;
$bordercolor3:$themecolor3;
$bordercolor4:$themecolor4;
$bordercolor5:$themecolor5;
$bordercolor6:$themecolor6;
$bordercolor7:$themecolor7;

$color1:$themecolor1;
$color2:$themecolor2;
$color3:$themecolor3;
$color4:$themecolor4;
$color5:$themecolor5;
$color6:$themecolor6;
$color7:$themecolor7;

$bgcolor1:$themecolor1;
$bgcolor2:$themecolor2;
$bgcolor3:$themecolor3;
$bgcolor4:$themecolor4;
$bgcolor5:$themecolor5;
$bgcolor6:$themecolor6;
$bgcolor7:$themecolor7;


// font size **************************************************************

$font13:13px;
$font15:15px;
$font18:18px;
$font20:20px;
$font24:24px;
$font28:28px;
$font32:32px;
$font45:45px;
$font60:60px;
$font76:76px;

// padding ************************************************************

$pl375:375px;
$pr175:175px;



// responsive screen variables ***************************************************

$screen2000:2000px;
$screen1780:1800px;
$screen1600:1600px;
$screen1440:1440px;
$screen1366:1366px;
$screen1325:1325px;
$screen1280:1280px;
$screen1199:1199px;
$screen1024:1024px;
$screen991:991px;
$screen768:768px;
$screen767:767px;
$screen660:660px;
$screen600:600px;
$screen500:500px;
$screen435:435px;
$screen375:375px;
$screen360:360px;
$screen320:320px;

$minscreen1200:1200px;
$minscreen992:992px;
$minscreen768:768px;
$minscreen576:576px;

$container-width:1920px;
