Options -Indexes
<Files .htaccess>
    order allow,deny
    deny from all
    Require all denied
</Files>
<Files config.php>
    order allow,deny
    deny from all
    Require all denied
</Files>
<Files head.php>
    order allow,deny
    deny from all
    Require all denied
</Files>
<Files header.php>
    order allow,deny
    deny from all
    Require all denied
</Files>
<Files footer.php>
    order allow,deny
    deny from all
    Require all denied
</Files>

